html {
    background-color: red;
}

#containerPai {
    height: 220px;
    width: 620px;
    background-color: aqua;
}

#containerFilho {
    height: 110px;
    width: 310px;
    background-color: green;
}
